.fade-in-bg-to-right {
    @apply
        before:absolute
        before:w-0
        before:h-full

        before:left-0
        before:top-0

        before:-z-10

        before:transition-all
        before:duration-500

        hover:before:w-full;
}